<h5 class="mb-0.5 mb-md-1 text-{{ subheading_color }} text-md-1.125">{{ subheading }}</h5>

<h2 class="mb-1 mb-md-2.5 d-flex align-items-start {{ heading_class }}">
  <span class="icon--triangle text-{{ icon_color }} mr-0.5 mr-md-1 mt-0.5 mt-md-1"> </span>
  <span>{{- heading -}}</span>
</h2>

