<div class="page-width">
  <div class="row row--md">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'heading' %}
          <div class="col-lg-6 mb-2.5">
            {%- render 'partial-heading', with {
              icon_color: block.settings.icon_color,
              subheading: block.settings.subheading,
              subheading_color: block.settings.subheading_color,
              heading: block.settings.heading,
              heading_class: 'text-cream'
            } -%}

            {% if block.settings.enable_button %}
              <div class="mt-1 mt-md-2.5">
                <a href="{{ block.settings.button_url }}" class="btn btn-cream btn--with-icon">
                  {{ block.settings.button_label }}
                </a>
              </div>
            {% endif %}
          </div>
        {% when 'menu_list' %}
          <div class="col-md-6 col-lg-2 mb-2.5{% if block.settings.mobile_hide %} d-none d-md-block{% endif %}">
            <h4 class="mb-1.5 text-cream">{{ block.settings.heading }}</h4>

            <ul class="list-unstyled lh-160">
              {% for link in block.settings.menu.links %}
                <li class="mb-0.5">
                  <a href="{{ link.url }}" class="btn btn-inline text-cream tt-n font-body font-regular">{{ link.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% when 'custom_list' %}
          <div class="col-md-6 col-lg-4 mb-2.5 side-menu__info text-cream">
            <h4 class="mb-1.5 text-cream">{{ block.settings.heading }}</h4>

            <div class="d-flex mb-1 text-md-1.125">
              <div>
                {%- render 'icon' with block.settings.icon_1 -%}
              </div>
              <div class="pl-1">
                {{ block.settings.content_1 }}
              </div>
            </div>

            <div class="d-flex mb-1 text-md-1.125">
              <div>
                {%- render 'icon' with block.settings.icon_2 -%}
              </div>
              <div class="pl-1">
                {{ block.settings.content_2 }}
              </div>
            </div>

            <div class="d-flex mb-1 text-md-1.125">
              <div>
                {%- render 'icon' with block.settings.icon_3 -%}
              </div>
              <div class="pl-1">
                {{ block.settings.content_3 }}
              </div>
            </div>

            <div class="d-flex mb-1 text-md-1.125">
              <div>
                {%- render 'icon' with block.settings.icon_4 -%}
              </div>
              <div class="pl-1">
                {{ block.settings.content_4 }}
              </div>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>

  <div class="row row--md align-items-end flex-column-reverse flex-md-row mt-2.5">
    <div class="col-md-6">
      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <div class="d-flex align-items-center mb-1.5 mb-md-0">
          <div class="mr-2.5">
            {{ section.settings.svg_1 }}
          </div>
          <div class="mr-2.5">
            {{ section.settings.svg_2 }}
          </div>
        </div>
        <div class="text-cream text-md-1.125">
          {{ section.settings.text }}

          <br>

          <p class="mt-1.5">
            Powered By
            <a href="https://www.tagdirect.com.au/" target="_blank">
              <img loading="lazy" width="52" height="17" src="{{ 'tag-logo.png' | asset_img_url: 'master' }}" alt="TAG Logo">
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-2.5 mb-md-0">
      <div class="pl-md-3.5">
        {{ section.settings.image }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "section",
  "class": "footer bg-black-600",
  "settings": [
    {
      "type": "header",
      "content": "Footer bottom"
    },
    {
      "type": "text",
      "id": "svg_1",
      "label": "Icon #1"
    },
    {
      "type": "text",
      "id": "svg_2",
      "label": "Icon #2"
    },
    {
      "type": "text",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "select",
          "id": "subheading_color",
          "options": [
            {"value": "blue", "label": "Blue"},
            {"value": "red", "label": "Red"},
            {"value": "pink", "label": "Pink"},
            {"value": "orange", "label": "Orange"},
            {"value": "cream", "label": "Cream"},
            {"value": "light-green", "label": "Light green"},
            {"value": "green", "label": "Green"},
            {"value": "yellow", "label": "Yellow"},
            {"value": "black-600", "label": "Black"}
          ],
          "default": "blue",
          "label": "Subheading color"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "icon_color",
          "options": [
            {"value": "blue", "label": "Blue"},
            {"value": "red", "label": "Red"},
            {"value": "pink", "label": "Pink"},
            {"value": "orange", "label": "Orange"},
            {"value": "cream", "label": "Cream"},
            {"value": "light-green", "label": "Light green"},
            {"value": "green", "label": "Green"},
            {"value": "yellow", "label": "Yellow"},
            {"value": "black-600", "label": "Black"}
          ],
          "label": "Icon color"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "checkbox",
          "id": "enable_button",
          "label": "Enable button"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "button_icon",
          "options": [
            {"value": "arrow", "label": "Arrow"},
            {"value": "instagram", "label": "Instagram"},
            {"value": "facebook", "label": "Facebook"},
            {"value": "phone", "label": "Phone"},
            {"value": "email", "label": "Email"},
            {"value": "pin", "label": "Pin"}
          ],
          "default": "arrow",
          "label": "Button icon"
        }
      ]
    },
    {
      "type": "menu_list",
      "name": "Menu list",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "mobile_hide",
          "label": "Hide on mobile"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "custom_list",
      "name": "Custom list",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "icon_1",
          "options": [
            {"value": "phone", "label": "Phone"},
            {"value": "email", "label": "Email"},
            {"value": "pin", "label": "Pin"},
            {"value": "calendar", "label": "Calendar"}
          ],
          "default": "phone",
          "label": "Icon #1"
        },
        {
          "type": "richtext",
          "id": "content_1",
          "label": "Content #1"
        },
        {
          "type": "select",
          "id": "icon_2",
          "options": [
            {"value": "phone", "label": "Phone"},
            {"value": "email", "label": "Email"},
            {"value": "pin", "label": "Pin"},
            {"value": "calendar", "label": "Calendar"}
          ],
          "default": "phone",
          "label": "Icon #2"
        },
        {
          "type": "richtext",
          "id": "content_2",
          "label": "Content #2"
        },
        {
          "type": "select",
          "id": "icon_3",
          "options": [
            {"value": "phone", "label": "Phone"},
            {"value": "email", "label": "Email"},
            {"value": "pin", "label": "Pin"},
            {"value": "calendar", "label": "Calendar"}
          ],
          "default": "phone",
          "label": "Icon #3"
        },
        {
          "type": "richtext",
          "id": "content_3",
          "label": "Content #3"
        },
        {
          "type": "select",
          "id": "icon_4",
          "options": [
            {"value": "phone", "label": "Phone"},
            {"value": "email", "label": "Email"},
            {"value": "pin", "label": "Pin"},
            {"value": "calendar", "label": "Calendar"}
          ],
          "default": "phone",
          "label": "Icon #4"
        },
        {
          "type": "richtext",
          "id": "content_4",
          "label": "Content #4"
        }
      ]
    }
  ]
}
{% endschema %}